<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ujk.com.flutter_umeng">
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="com.coloros.mcs.permission.RECIEVE_MCS_MESSAGE"/>
    <uses-permission android:name="com.heytap.mcs.permission.RECIEVE_MCS_MESSAGE"/>

    <application>
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=100960819" />
        <activity android:name=".MPushActivity"
            android:launchMode="singleTask"
            android:exported="true"
            />

        <receiver android:name=".MeizuReceiver" android:exported="false">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />
                <category android:name="ujk.com.flutter_umeng"/>
            </intent-filter>
        </receiver>

        <!--解决应用频繁自启动问题，关闭com.taobao.accs 自启动-->
        <receiver
            android:name="com.taobao.accs.EventReceiver"
            tools:node="remove" />

        <receiver android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true" tools:node="merge">
            <intent-filter tools:node="remove">
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- VIVO厂商通道 start-->
        <meta-data android:name="com.vivo.push.api_key" android:value="" />
        <!--            android:value="此处改为VIVO后台真实参数" />-->
        <meta-data android:name="com.vivo.push.app_id" android:value="" />
        <!--            android:value="此处改为VIVO后台真实参数" />-->
        <!-- VIVO厂商通道 end-->

        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 start-->
        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="false"
            tools:replace="android:exported" />
<!--         <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:exported="false"
            tools:replace="android:exported" /> -->
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true"
            tools:replace="android:exported" />
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="false"
            tools:replace="android:exported" />
        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="false"
            tools:replace="android:exported" />
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="false"
            tools:replace="android:exported" />
        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end-->
    <!-- 自己加的，oppo的编译不通过 -->
        <service
            android:name="com.heytap.msp.push.service.CompatibleDataMessageCallbackService"
            android:exported="true"
            android:permission="com.coloros.mcs.permission.SEND_MCS_MESSAGE">
            <intent-filter>
                <action android:name="com.coloros.mcs.action.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service> <!-- 兼容Q以下版本 -->
        <service
            android:name="com.heytap.msp.push.service.DataMessageCallbackService"
            android:exported="true"
            android:permission="com.heytap.mcs.permission.SEND_PUSH_MESSAGE">
            <intent-filter>
                <action android:name="com.heytap.mcs.action.RECEIVE_MCS_MESSAGE" />
                <action android:name="com.heytap.msp.push.RECEIVE_MCS_MESSAGE" />
            </intent-filter>
        </service>

        <receiver android:name="org.android.agoo.vivo.PushMessageReceiverImpl" android:exported="true">
            <intent-filter>
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
